{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>example</title>
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
   
</head>
<body>
    <div id="container">
        <h1>Example app</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Double</button>
        </form>

        <form method="post">
            {% csrf_token %}
            {{ form2.as_p }}
            <button type="submit">Multiply the result</button>
        </form>

        {% if result %}
        <p>The double of the example variable is: {{result}}</p>
        {% endif %}

        {% if result2 %}
        <p>When multiplied by the example variable 2 is: {{result2}}</p>
        {% endif %}
    </div>
</body>
</html>